/* style */
body {
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    color: #333333;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #e5e5e5;
    color: #333333;
}

.login {
    float: right;
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 20px;
}

.article {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 200px;
}

.article img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.upload_modal {
    display: none;
    display: block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 200px;
    width: 100%;
    display: none;
    animation: top-down 1s;
}

.upload_modal_content {
    padding: 20px;
}

.upload_modal_header {
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 10px;
    text-shadow: 0 1px 0 #fff;
}

.upload_modal_body {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

@keyframes top-down {
    0% {
        transform: translateY(-160px);
    }
    100% {
        transform: translateY(0px);
    }
}